<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>부트스트랩 템플릿</title>
     <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
  	<th:block th:replace="~{common/common_top::layout_header}"></th:block>
  	
  	<div class="center">
	  <main class="container">
	  	<div class="blank">
	  	</div>
	  	<div class="area1">
	  	  <div class="area1_in">
	  	  	서비스 이용
	  	  </div>
	  	</div>
	  	<div class="area2">
		  <div class="area2_in">
	  	  	팝업
	  	  </div>
		</div>
		<div class="area3">
		  <div class="area3_in">
	  	  	기타내용
	  	  </div>
		</div>
	  </main>
	</div>
	
	<footer id="footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
</html>