* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: bold 20px 'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕',arial,sans-serif;
}

.area1, .area2, .area3{
	width: 100%,;
	height: 100px;
}

.area1_in, .area2_in, .area3_in{
	width: 58.3333%;
	min-width: 767px;
	margin: 0 auto;
}